<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./master.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>Boolzap</title>
</head>
<body>


  <div id="root">
    <div class="container-left">
      <div class="top-bar-left">
        <div class="spacer-container">
          <img class="avatar" height="60" src="./img/avatar_io.jpg" alt="">
          <div class="shortcuts-top">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
      <div class="main-left">
        <div class="alert-notify">
          <i class="fas fa-bell-slash"></i>

        </div>
        <div class="search-conv">
          <div class="search-txt">
            <i class="fas fa-search"></i>
            <input type="text">
          </div>
        </div>
        <div class="spacer-container-convs">

          <div class="conversations">
            <div class="contact-chat" v-for="(contact, i) in contacts" :class="(isActive == contact) ? 'active' : ''" @click="activeConv2(contact)">
              <img :id="getId(contact)"
                   :src="getAvatar(contact)" alt=""
                   class="avatar">
              <span class="contact-chat-name">{{contacts[i].name}}</span>
              <span class="last-msg">{{getLastMsg(contacts[i])}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-right">
      <div class="top-bar-right">
        <div class="spacer-container">
          <img class="avatar" height="60" :src="getActiveAvatar(isActive)" alt="">
          <div class="name-conv">
            {{isActive.name}}
            <div class="last-access">Ultimo Accesso alle {{getLastAccess(isActive)}}</div>
          </div>
          <div class="shortcuts-top-right">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
      </div>
      <div class="main-right">
        <div class="spacer-container-conv-body">
          <div class="conversation-body">
            <div
            class="message-box"
            v-for="message in isActive.messages"
            :class="message.status">
              <span class="message-text">{{message.text}}</span>
              <i class="fas fa-ellipsis-v"></i>
              <span class="message-time">{{getDateITA(message.date)}}</span>
            </div>
          </div>
          <div class="messagebar">
            <i class="far fa-smile"></i>
            <i class="fas fa-paperclip"></i>
            <input type="text" v-model="newMsgTxt" @keyup.enter="newMessageFn">
            <i class="fas fa-microphone"></i>
          </div>
        </div>
      </div>
    </div>

  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="main.js" charset="utf-8"></script>
</body>
</html>
