*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

#root{
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

.container-left{
  min-width: 100px;
  width: 35vw;
  height: 100vh;
  background-color: yellow;
}

.container-right{
  width: 65vw;
  background-color: blue;
}


.top-bar-left{
  height: 10%;
  min-height: 50px;
  background-color: purple;
  background-color: #EEEEEE;
  color: black;
  border: 1px solid lightgrey;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.top-bar-right{
  height: 10%;
  min-height: 50px;
  background-color: #EEEDEC;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  border: 1px solid lightgrey;
}

.top-bar-left i {
  color: #767676;
}

.top-bar-right i {
  color: #767676;
}

.main-left{
  height: 90%;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  border: .5px solid lightgrey;
}

.avatar{
  border-radius: 50%;
  border: 1px solid lightgrey;
}

.spacer-container{
  width: 95%;
  padding: 10px 0;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.spacer-container-convs{
  width: 100%;
  padding: 10px 0;

  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.spacer-container-conv-body{
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.spacer-container .shortcuts-top i{
  padding: 0 5px;
  font-size: 1.1em;
}

.shortcuts-top{
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.shortcuts-top-right{
  width: 40%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.spacer-container .shortcuts-top-right i{
  padding: 0 5px;
  font-size: 1.1em;
}

.conversations{
  height: 80%;
  width: 100%;
  /* cursor: pointer; */

  display: flex;
  flex-direction: column;
}

.contact-chat{
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: .1em solid lightgrey;
  cursor: pointer;
}

.contact-chat img{
  height: 60px;
  width: 60px;
}

.contact-chat .last-msg{
  padding-left: 10px;
  font-size: .6em;
  color: grey;

}

.contact-chat.active{
  background-color: lightgrey;
}

.contact-chat .contact-chat-name{
  width: calc(100% - 70px);
  align-self: center;
  padding-left: 10px;
}

.alert-notify{
  height: 10%;
  width: 100%;
  background-color: #9EE1FE;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.alert-notify i{
  border: 1px solid white;
  border-radius: 50%;
  background-color: #ffffff;
  color: #9EE1FE;
  padding: 10px;
  margin-right: 50px;
}

.alert-notify span{
  font-size: .8em;
  color: black;
  /* padding: 10px; */
}

.alert-notify small{
  font-size: .7em;
  color: grey;
  text-decoration: underline;
  /* padding: 10px; */
}

.search-conv{
  height: 5%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.search-conv .search-txt{
  height: 80%;
  width: 80%;
  border-radius: 10px;
  border: 1px solid lightgrey;
  background-color: #ffff;

  display: flex;
  align-items: center;
}

.search-conv .search-txt input{
  width: 90%;
  border: 0;
}

.search-conv .search-txt input:focus{
  outline: none;
}

.search-conv .search-txt i{
  color: grey;
  padding-left: 10px;
  font-size: .8em;
}

.active-conv{
  background-color: lightgrey;
}

.main-right{
  height: 90%;
  background-image: url("./img/mine.jpg");
}

.conversation-body{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction:column;
}

.conversation-body div.sent{
  background-color: lightgreen;
  align-self: flex-end;
  /* display: inline-block; */
}

.conversation-body div.received{
  background-color: white;
  align-self: flex-start;
  /* display: block; */
}

.conversation-body div::after{
  content: '';
  display: table;
  clear: both;
}

.messagebar{
  width: 100%;
  height: 10%;
  background-color: #E5DDD5;
  display: flex;
  align-items: center;
  border-top: .1em solid lightgrey
}

.messagebar input{
  width: 90%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.messagebar input:focus{
  outline: none;
}

.messagebar i{
  font-size: 1.2em;
  padding: 0 10px;
  color: grey;
}

.message-box{
  border-radius: 10px;
  font-size: .8em;
  padding: 5px;
  margin: 10px;
  min-width: 150px;
  position: relative;
}

.message-box i{
  color: grey;
  float: right;
  font-size: .6em;
  padding: 5px;
  cursor: pointer;
}

.message-box .message-time{
  color: grey;
  font-size: .8em;
  text-align: right;
  display: block;
}

.last-access{
  font-size: .6em;
  color: grey;
}

.name-conv{

}

.message-opt{
  width: 100px;
  display: none;
  position: absolute;
  z-index: 100;
}

.message-opt.active{
  display: block;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 30px 1px;
  padding: 10px;
}

.message-opt .deletemes{
  cursor: pointer;
  border-top: 1px solid lightgrey;
}

.message-opt .msg-info{
  cursor: pointer;
}

.message-opt .msg-info .infos{
  display: none;
}

.message-opt .msg-info .infos.active{
  display: block;
}

.infos-date{
  border: 1px solid grey;
  font-size: .6em;
  padding: 10px;
}

@media all and (min-width: 1200px) {
  #root{
    transform: scale(.9);
  }
  html{
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #4ca2cd, #67B26F);
    background: -o-linear-gradient(left, #4ca2cd, #67B26F);
    background: linear-gradient(to right, #4ca2cd, #67B26F);
  }
}

@media all and (max-width: 900px){
  .contact-chat .last-msg{
    display: none;
  }

  .contact-chat .contact-chat-name{
    font-size: .7em;
    /* margin-left: -30px; */
  }

  .contact-chat img{
    transform: scale(.8);
  }

  .shortcuts-top, .shortcuts-top-right, .name-conv{
    transform: scale(.7);
  }

}

@media all and (max-width: 768px){
  .alert-notify{
    display: none;
  }
}
